@import "~office-ui-fabric-react/dist/sass/Fabric";
@import "login";
@import "home";

body {
  margin : 0;
}

.main-header {
  height           : 50px;
  line-height      : 50px;
  background-color : black;
  padding          : 0 20px;
  * {
    height      : inherit !important;
    line-height : inherit !important;
  }
  .main-header-bar {
    width  : 1012px;
    margin : 0 auto;
    .title {
      display     : inline-block;
      color       : white;
      height      : 50px;
      line-height : 48px !important;
    }
    .menu-bar {
      display        : inline-block;
      vertical-align : top;
      float          : right;
      button {
        color   : #FFFFFF;
        padding : 0 10px;
        margin  : 0 5px;
        &:hover {
          color : #EAEAEA;
        }
        .menu-dropdown {
          vertical-align : middle;
          font-size      : 10px;
        }
      }
    }
  }
}

.main-footer {
  // background-color: #0078d7;
  // width: 100px;
  // height: 100px;
}

.ms-Callout-main {
  .callout-title {
    @include ms-font-xl;
    font-weight : $ms-font-weight-semilight;
    padding     : 18px 24px 12px;
  }
  .callout-content {
    padding : 0 24px 20px;
    .callout-description {
      @include ms-fontSize-s;
      font-weight : $ms-font-weight-light;
    }
    .callout-extra-content {
      margin-top : 20px;
    }
  }
}
