.login {
  width  : 350px;
  margin : 250px auto 0;
  .login-button {
    width : 100%;
  }

  .more-button {
    font-size : 14px;
    display   : block;
    margin    : 20px auto 0;
  }
}

.demo-account-callout {
  max-width : 300px;
}
